<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="appName">kafka-consumer-db</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true" stacktraceAsString="true">
                <KeyValuePair key="application" value="${appName}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Kendi paketimiz için (application.properties'deki DEBUG bunu ezer) -->
        <Logger name="com.findata.kafkaconsumerdb" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <!-- Diğer Spring/Hibernate/Kafka vb. logları (INFO/WARN) -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.apache.kafka" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="org.postgresql" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>